<form action="/celebrities/create" method="POST">
  <div>
    Name: <input type="text" name="name">
  </div>

  <div> 
    Occupation: <input type="text" name="occupation">
  </div>

  <div> 
    Phrase: <input type="text" name="catchPhrase">
  </div>

  <button type="submit">Añadir</button>
</form>

