<a href="/celebrities/create">New Celebrity</a>

<ul>  
 {{#each celebrities as |celebrity| }}
 <li>
   {{ celebrity.name }}
   <a href="celebrities/{{celebrity.id}}">See full profile</a>
 </li>
 {{/each}}
 
</ul>