<form action="/movies/create" method="POST">
  <div>
    Title: <input type="text" name="title">
  </div>

  <div> 
    Genre: <input type="text" name="genre">
  </div>

  <div> 
    Plot: <input type="text" name="plot">
  </div>

  <button type="submit">Add Movie</button>
</form>

